* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a8d5d8;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    line-height: 1.4;
}

p:nth-of-type(2) {
    border: 3px solid #2d7a2d;
    padding: 20px;
    margin: 15px 25px;
    width: 800px;
    line-height: 1.6;
}

p:nth-of-type(4),
p:nth-of-type(5) {
    background-color: #1a1a80;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
}

ol {
    margin-left: 30px;
    margin-bottom: 20px;
}

ol li {
    margin-bottom: 5px;
}

ol li::marker {
    content: "0" counter(list-item) ". ";
}

a {
    color: #0000ee;
}

p a {
    color: #cc0000;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #d3d3d3;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td {
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}